body{
margin: 0;
padding: 0%;
background: #ffffff;
}

.loading{
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 40px;
display: flex;
align-items: center;
}

.obj{
width: 10px;
height: 50px;
background: rgb(0, 5, 12);
margin: 0 3px;
border-radius: 10px;
animation: loading 0.8s infinite;
}

.obj:nth-child(2){
animation-delay: 0.1s;
background: rgb(0, 14, 32);
}
.obj:nth-child(3){
    animation-delay: 0.2s;
    background: rgb(0, 24, 54);
}
.obj:nth-child(4){
    animation-delay: 0.3s;
    background: rgb(1, 43, 94);
}
.obj:nth-child(5){
    animation-delay: 0.4s;
    background: rgb(0, 58, 129);
}
.obj:nth-child(6){
    animation-delay: 0.5s;
    background: rgb(5, 84, 180);
}
.obj:nth-child(7){
    animation-delay: 0.6s;
    background: rgb(14, 112, 233);
}
.obj:nth-child(8){
    animation-delay: 0.7s;
    background:  rgb(31, 128, 247);
}
.obj:nth-child(9){
    animation-delay: 0.8s;
    background: rgb(63, 141, 236);
}
.obj:nth-child(10){
    animation-delay: 0.9s;
    background: rgb(106, 162, 231);
}

@keyframes loading {
0%{
height: 0;
}
50%{
height: 50px;
}
100%{
height: 0;
}
}