* {
    margin: 0;
    padding: 0;
    list-style-type:none;
}
    a.anterior,a.proxima {
        height:50px;
        position:absolute;
        width:70px;
        top:50%;
        margin-top:-30px;
        color: blanchedalmond;
        cursor:pointer;
        transition:opacity 2s ease-out;
        padding-top: 30px;
        padding-left: 10px;
    }
    .anterior {
        left:0;
        background: rgb(0, 0, 0);
    }
    .proxima {
        right:0;
        background: #000;
    }
    .slider {
        height:100vh;
        position: relative;
    }
    .slide {
        position:absolute;
        height:100%;
        width:100%;
    }
    .slider .slide:target {
        z-index: 100;
    }
    img {
        max-width:100%;
        width:100%;
        position:fixed;
        left:0;
    }