html,
body {
  margin: 0;
  padding: 0;
  font-size: 150px;
  background-color: black;
  padding-top: 100px;
  text-align: center;
}

.priscila{
  animation: priscila 1s ease infinite;
}

@keyframes priscila {
  0%,
  100% {
    text-shadow: 0 0 1vw #061549, 0 0 3vw #061549, 0 0 10vw #061549, 0 0 10vw #061549, 0 0 .4vw #28affe, .5vw .5vw .1vw #1f6469;
    color: #28f7fe;
  }
  50% {
    text-shadow: 0 0 .5vw #061549, 0 0 1.5vw #061549, 0 0 5vw #061549, 0 0 5vw #061549, 0 0 .2vw #061549, .5vw .5vw .1vw #2f6668;
    color: #2f6668;
  }
}

