*{ 
	margin: 0;
	padding: 0;
}

.cidade {
	height: 100vh;
	width: 100%;
	background-image: url(imagens/sky.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-x: hidden;
}

.rua {
	height: 200px;
	width: 500%;
	display: block;
	background-image: url(imagens/rua.jpg);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: rua 10s reverse linear infinite;
}

@keyframes rua{
	100%{
		transform: translateX(-3400px);
	}
}

.city{
	height:185px;
	width: 1000%;
	background-image: url(imagens/cidade.png);
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
	background-repeat: repeat-x;
	animation: city 30s linear reverse infinite;
}

@keyframes city {
	100%{
		transform: translateX(-1400px);
	}
}

.car {
	width: 400px;
	left: 50%;
	bottom: 5px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2;
	
}

.car img {
	width: 100%;
	animation: car 1s linear infinite;
}

@keyframes car {
	100%{
		transform: translateY(-1px);
	}
	50%{
		transform: translateY(1px);
	}
	0%{
	transform: translateY(-1px);
	}
}

.rodas {
	left: 50%;
	bottom: 190px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2;
}

.rodas img{
	width: 60px;
	height: 60px;
	animation: rodas 1s linear infinite;
}

@keyframes rodas{
	100%{
		transform: rotate(-360deg);
	} 
}

.front-rodas{
	left: -140px;
	position: absolute;
}

.back-rodas{
	left: 90px;
	position: absolute;
}