body{
margin-left: 300px;
}

.icons{
border: none;
height: 50px;
width: 50px;
display: inline-block;
align-items: center;
justify-content: center;
background-color: transparent;
margin-top: 300px;
}

.icons:hover,
.icons:focus {
  transform: translateY(-10px);
  cursor: pointer;
}